/* About */
.about {
	background-color: rgb(73, 73, 73);
	border: 1px solid white;
	color: rgb(255, 255, 255);
	margin-bottom: 50px;
	height: fit-content;
}

.about p {
	margin: auto 10px;
}

.about a {
	color: rgb(0, 221, 221);
}

.lang-list {
	font-size: 20px;
	margin-top: -30px;
	line-height: 4vh;
}

.lang-list img {
	width: 30px;
	vertical-align: middle;
}

.lang-list i {
	padding: 1px;
}
