.contact-div {
	padding: 10vh;
    padding-top: 0;
}

@media screen and (max-width: 600px) {
	.contact-div {
		padding: 5vh;
	}
}

.contact-div h1 {
	text-align: start;
}

.contact-div h3 {
	text-align: start;
	font-size: 24px;
    cursor: pointer;
}

.contact-div a {
	color: white;
	text-decoration: none;
}
