.projects-div {
	display: flex;
	justify-content: center;
}

.projects-wrapper {
    padding-bottom: 10vh;
	padding-top: 10px;
}

.projects {
    max-width: 15vh;
	background: rgba(177, 177, 177, 0.6);
	border: none;
	height: fit-content;
    margin: 1vw;
}

@media screen and (max-width: 1150px) {
    .projects-div {
        flex-direction: column;
    }
    .projects {
        margin: 1vh auto;
    }
}

.projects img {
	max-width: 250px;
	margin: auto;
	padding: 0 auto;
}

.projects p a {
	color: rgb(0, 221, 221);
}

.projects a {
	margin: auto;
	margin-bottom: 10px;
}
