/*
Jason Li's Portfolio Website
made by: Jason Li
*/

body {
	width: 100%;
	overflow-x: hidden;
	background-color: rgb(92, 92, 92);
}

html {
	scroll-behavior: smooth;
}

#about-me .lead {
	color: rgb(219, 219, 219);
}

#contact p {
	color: rgb(219, 219, 219);
}

#skills img {
	height: 25px;
}

#contact a {
	text-decoration: none;
}

.contact-icon {
	font-size: 40px;
}

#copyright {
	text-align: center;
	padding-bottom: 30px;
	text-decoration: none;
}

#copyright p {
	cursor: default;
	text-decoration: none;
}
