.projects-div {
	display: flex;
	justify-content: center;
}

.projects-wrapper {
    padding-bottom: 10vh;
	padding-top: 10px;
}

.projects {
    width: 50vw;
	background: rgba(177, 177, 177, 0.6);
	border: 1px solid black;
	height: fit-content;
    margin: 2vw;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 800px) {
    .projects-div {
        flex-direction: column;
    }
    .projects {
        width: 40vh;
        display: block;
        margin: 1vh auto;
    }
}

.projects img {
    display: flex;
	max-width: 100%;
}

.projects p {
    margin: auto 5px;
    height: fit-content;
}

.projects p a {
	color: rgb(0, 221, 221);
}

.projects .btn {
    display: block;
	margin: auto;
    margin-top: 7px;
}
