<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='files/jl_logo.png') }}" type="image/x-icon">
    <title>Jason Li</title>
</head>
<body>

    <noscript>This website requires JavaScript</noscript>

    <div
        data-aos="zoom-out"
        data-aos-delay="200"
        data-aos-duration="1000"
    >
        <div class="intro-card" id="intro">
            <img src="{{ url_for('static', filename='files/jl_logo.png') }}" alt="" class="logo"
                data-aos="fade-down"
                data-aos-delay="700"
            >
            <h1
                data-aos="fade-down"
                data-aos-delay="900"
            >Jason Li</h1>
            <h2
                data-aos="fade-down"
                data-aos-delay="1100"
            >High school student</h2>

            <!-- Buttons -->
            <div class="intro-btns"
                data-aos="fade-up"
                data-aos-delay="1300"
            >
                <div style="display: flex; justify-content: center;">
                    <a onclick="scrollToSection('about')" class="btn">About me</a>
                    <a onclick="scrollToSection('projects')" class="btn">Projects</a>
                </div>
                <br>
            </div>
            
            <!-- Icons -->
            <div class="icons">
                <!-- GitHub -->
                <a href="https://github.com/jasonli0616" target="_blank" data-aos="fade-up-right" data-aos-delay="1500"><i class="bi bi-github"></i></a>
                <!-- Email -->
                <a onclick="scrollToSection('contact')" data-aos="fade-up-left" data-aos-delay="1700"><i class="bi bi-envelope"></i></a>
            </div>
        </div>
    </div>

    <div id="about"></div> <!-- This div is so the about button scrolls to the right position -->
    <div
        data-aos="flip-up"
        data-aos-duration="700"
        data-aos-anchor-placement="top-center"
    >
        <div class="intro-card about">
            <h1 id="about">About me</h1>
            <p>
                I am a high school student in Canada. I am fluent in Python, Node.js, and Flask. I am currently learning Java for the <a href="https://en.wikipedia.org/wiki/FIRST_Robotics_Competition" target="_blank">FRC Robotics</a> team at my school. I am experienced in Flask for web backend development (check out AnonPost in my <a onclick="scrollToSection('projects')">projects section</a>). I have participated in the <a href="https://dmz.ryerson.ca/canhack/" target="_blank">CanHack hackathon</a> run by Ryerson University and Carnegie Mellon University, earning a <a href="https://ca.badgr.com/public/assertions/Gb5NH-I3QA6Z9aD8RX35qA" target="_blank">Cybersecurity award badge</a>. I am planning to participate in more Hackathons over the summer, as well as other programming competitions with a club at my school.
            </p>

            <br>
            <div class="about-badge">
                <a href="https://github.com/jasonli0616" target="_blank">
                    <img src="https://github-readme-stats.vercel.app/api?username=jasonli0616&theme=dark&show_icons=true">
                </a>
                <a href="https://ca.badgr.com/public/assertions/Gb5NH-I3QA6Z9aD8RX35qA" target="_blank">
                    <img src="https://media.ca.badgr.com/uploads/badges/assertion-Gb5NH-I3QA6Z9aD8RX35qA.png" alt="">
                </a>
            </div>

            <h2 style="margin-bottom: 35px;">Languages and Technologies</h2>
            <ul class="lang-list">
                <li
                    data-aos="zoom-out"
                    data-aos-delay="300"
                    data-aos-duration="700"
                    data-aos-anchor-placement="center-bottom"
                >
                    <img src="{{ url_for('static', filename='files/python_icon.png') }}" alt=""> Python 3
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
                </li>
                <ul>
                    <li
                        data-aos="zoom-out"
                        data-aos-delay="350"
                        data-aos-duration="700"
                        data-aos-anchor-placement="center-bottom"
                    >
                        <img src="{{ url_for('static', filename='files/flask_icon.png') }}" alt=""> Flask
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
                    </li>
                    <li
                        data-aos="zoom-out"
                        data-aos-delay="400"
                        data-aos-duration="700"
                        data-aos-anchor-placement="center-bottom"
                    >
                        <img src="{{ url_for('static', filename='files/discord_icon.png') }}" alt=""> Discord.py
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
                    </li>
                </ul>
                <li
                    data-aos="zoom-out"
                    data-aos-delay="500"
                    data-aos-duration="700"
                    data-aos-anchor-placement="center-bottom"
                >
                    <img src="{{ url_for('static', filename='files/nodejs_icon.png') }}" alt=""> Node.js
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i><i class="bi bi-star"></i>
                </li>
                <ul>
                    <li
                        data-aos="zoom-out"
                        data-aos-delay="550"
                        data-aos-duration="700"
                        data-aos-anchor-placement="center-bottom"
                    >
                        <img src="{{ url_for('static', filename='files/electron_icon.png') }}" alt=""> Electron
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i><i class="bi bi-star"></i>
                    </li>
                </ul>
                <li
                    data-aos="zoom-out"
                    data-aos-delay="600"
                    data-aos-duration="700"
                    data-aos-anchor-placement="center-bottom"
                >
                    <img src="{{ url_for('static', filename='files/sql_icon.png') }}" alt=""> SQL
                </li>
                <li
                    data-aos="zoom-out"
                    data-aos-delay="650"
                    data-aos-duration="700"
                    data-aos-anchor-placement="center-bottom"
                >
                    Web technologies:
                </li>
                <ul>
                    <li
                        data-aos="zoom-out"
                        data-aos-delay="700"
                        data-aos-duration="700"
                        data-aos-anchor-placement="center-bottom"
                    >
                        <img src="{{ url_for('static', filename='files/html_icon.png') }}" alt=""> HTML
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i><i class="bi bi-star"></i>
                    </li>
                    <li
                        data-aos="zoom-out"
                        data-aos-delay="750"
                        data-aos-duration="700"
                        data-aos-anchor-placement="center-bottom"
                    >
                        <img src="{{ url_for('static', filename='files/bootstrap_icon.png') }}" alt=""> Bootstrap
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i><i class="bi bi-star"></i>
                    </li>
                    <li
                        data-aos="zoom-out"
                        data-aos-delay="800"
                        data-aos-duration="700"
                        data-aos-anchor-placement="center-bottom"
                    >
                        <img src="{{ url_for('static', filename='files/css_icon.png') }}" alt=""> CSS
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i><i class="bi bi-star"></i>
                    </li>
                    <li
                        data-aos="zoom-out"
                        data-aos-delay="850"
                        data-aos-duration="700"
                        data-aos-anchor-placement="center-bottom"
                    >
                        <img src="{{ url_for('static', filename='files/js_icon.png') }}" alt=""> JavaScript
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i><i class="bi bi-star"></i>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
    <h1 id="projects">My Projects</h1>
    <div class="projects-wrapper">
        <div class="projects"
                data-aos="zoom-out-up"
                data-aos-delay="100"
                data-aos-duration="700"
            >
                <h2>math.java</h2>
                <img src="{{ url_for('static', filename='files/math_image.jpg') }}" alt=""
                    data-aos="fade-down"
                    data-aos-delay="200"
                    data-aos-duration="700"
                    style="border-radius: 7px; margin-bottom: 20px; box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);" width="90%"
                >
                <p>
                    Math.java is a math package in Java with a focus on vectors, trigonometry, and linear equations. It is made by me and 2 other people at my school to learn Java for my school's robotics club.
                </p>
                <a href="https://github.com/Tripleteam88/math.java" target="_blank" class="btn">View on GitHub</a>
            </div>

            <div class="projects"
                data-aos="zoom-out-up"
                data-aos-delay="300"
                data-aos-duration="700"
            >
                <h2>AnonPost</h2>
                <img src="{{ url_for('static', filename='files/anonpost_screenshot.png') }}" alt=""
                    data-aos="fade-down"
                    data-aos-delay="400"
                    data-aos-duration="700"
                >
                <p>
                    AnonPost is a concept social media platform based around anonymity. The user can use any username to sign up, and can create as many accounts as they want to remain anonymous.
                </p>
                <a href="https://github.com/jasonli0616/anon-post" target="_blank" class="btn">View on GitHub</a>
            </div>

            <div class="projects"
                data-aos="zoom-out-up"
                data-aos-delay="500"
                data-aos-duration="700"
            >
                <h2>PyInstaller GUI</h2>
                <img src="{{ url_for('static', filename='files/pyinstallergui_screenshot.png') }}" alt=""
                    data-aos="fade-down"
                    data-aos-delay="600"
                    data-aos-duration="700"
                    style="max-height: 300px;"
                >
                <p>
                    This is a GUI version of <a href="https://www.pyinstaller.org" target="_blank">PyInstaller</a>. Freeze your Python code into an executable applicataion without having to use the command line.
                </p>
                <a href="https://github.com/jasonli0616/PyInstaller-GUI" target="_blank" class="btn">View on GitHub</a>
            </div>

            <div class="projects"
                data-aos="zoom-out-up"
                data-aos-delay="700"
                data-aos-duration="800"
            >
                <h2>BSCode</h2>
                <img src="{{ url_for('static', filename='files/bscode_screenshot.png') }}" alt=""
                    data-aos="fade-down"
                    data-aos-delay="800"
                    data-aos-duration="700"
                >
                <p>
                    BSCode is a lightweight text editor for code. This is only a proof of concept application, and is not designed for practical use due to its bugginess.
                </p>
                <a href="https://github.com/jasonli0616/BSCode" target="_blank" class="btn">View on GitHub</a>
            </div>
        </div>

    <div class="contact-div" id="contact"
        data-aos="fade-up"
        data-aos-delay="100"
        data-aos-duration="1000"
        data-aos-anchor-placement="top-center"
    >
        <form action="" method="POST">
            <h1>Contact</h1>

            <label for="name">Name</label>
            <input type="text" name="name" id="contact-name">

            <label for="email">Email address</label>
            <input type="email" name="email" id="contact-email">

            <label for="subject">Subject</label>
            <input type="text" name="subject" id="contact-subject">

            <label for="contact-message">Message</label>
            <textarea name="message" id="contact-message" rows="10"></textarea>

            <button type="submit">Send email</button>
        </form>
    </div>



    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

    {% if jsAlertMsg != None %}
        <script>
            window.alert( "{{ jsAlertMsg }}" )
        </script>
    {% endif %}

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script defer src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"></script>
  
</body>
</html>
